/node_modules

/test/__snapshots__
/test/js
/test/fixtures/sourcemaps/*
!/test/fixtures/sourcemaps/source.js
/coverage

/.idea

.DS_Store

logs
*.log
npm-debug.log*
.eslintcache
/dist
/local
/reports
Thumbs.db
.idea
.vscode
*.sublime-project
*.sublime-workspace
release.js
