<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Webpack App</title>
  </head>
  <body>
  <script src="<%= htmlWebpackPlugin.files.webpackConcat.file %>"></script>
  </body>
</html>
